{% extends "layout.html" %}
{% block content %}
<h1>All available things</h1>
{% for chai in chais %}
{% comment %} hey codium, give me tailwind classes to make this div like an ecommerce layout {% endcomment %}
<div class="flex items-center justify-center ">
    <h2>{{ chai.name }}</h2>
    <img src="{{ chai.image.url }}" alt="chais" width="200" height="200"></div>
    <a href="{% url 'all_detail' chai.id %}"> <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">BUtton</button></a>
   


{% endfor %}

{% endblock %}

